footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
}
footer h3{
    font-size: 12px;
    margin-bottom: 0.5em;
    color: #fff;
}

footer span{
    font-weight: bold;
    color: #fff;
    margin-right: 6px;
}
footer p{
    color: #fff;
    font-size: 10px;
}